body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
.book-info,
.author-info {
    margin-left: 32px;
    text-decoration: none;
}

.book-info:hover,
.author-info:hover {
    color: #682316;
}

.container img {
    max-width: 50px;
    max-height: 60px;
    margin-left: 10px;
    height: auto;
}

.container h1 {
    font-size: 80px;
    margin-bottom: 16px;
    color: #872929;
}

.container a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
}

.container a:hover {
    color: #682316;
}
