<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors List</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    .main-content {
      text-align: center;
      padding: 50px;
    }
    h1 {
      color: #333;
      font-size: 36px;
      margin-bottom: 20px;
    }
    p {
      color: #666;
      font-size: 18px;
      line-height: 1.6;
    }
  </style>
</head>
<body>
    {% include 'menu.html' %}
    <h1>List of Authors</h1>
    <ul>
        {% for author in authors %}
            <li><a href="{% url 'author_books' author %}">{{ author }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
